<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>CSKBankingApplication</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Zoho Logs -->
	<filter>
		<filter-name>AccessLogFilter</filter-name>
		<filter-class>com.zoho.logs.logclient.filter.AccessLogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessLogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Security Filter -->
	<filter>
		<filter-name>Security Filter</filter-name>
		<filter-class>com.adventnet.iam.security.SecurityFilter</filter-class>
		<init-param>
			<param-name>config-file</param-name>
			<param-value>conf/security-common.xml, security-xml/security-regex.xml, security-xml/security-params.xml, security-xml</param-value>
		</init-param>
		<init-param>
			<param-name>schema-file</param-name>
			<param-value>conf</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Security Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- Request Filter -->
	<filter>
		<filter-name>requestFilter</filter-name>
		<filter-class>com.cskbank.filters.RequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>requestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Session Filter -->
	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>com.cskbank.filters.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/signup</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/reset_password</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/verification</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<!-- API Authentication Filter -->
	<filter>
		<filter-name>apiAuthenticationFilter</filter-name>
		<filter-class>com.cskbank.filters.APIAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>apiAuthenticationFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<!-- Validation Filter -->
	<filter>
		<filter-name>validationFilter</filter-name>
		<filter-class>com.cskbank.filters.ValidationFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>validationFilter</filter-name>
		<url-pattern>/app/*</url-pattern>
	</filter-mapping>

	<!-- App Servlet -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>com.cskbank.servlet.AppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>

	<!-- API Servlet -->
	<servlet>
		<servlet-name>apiServlet</servlet-name>
		<servlet-class>com.cskbank.servlet.APIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apiServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/jsp/common/error.jsp</location>
	</error-page>

	<listener>
		<listener-class>com.cskbank.service.InitContextListener</listener-class>
	</listener>

</web-app>