<?xml version="1.0" encoding="UTF-8"?>
<!-- <?xml version="1.0" encoding="UTF-8"?> <Configuration packages="com.zoho.logs.logclient.log4j.appender"> 
	<Properties> <Property name="slPath">/home/sharan-pt-7373/Documents/GitHub/CSKBankingApplication/logs/custom-logs 
	</Property> </Properties> <Log4j2Appender name="CentralLoggingAppender" logtype="javaapplication" 
	loggerWrapperLevel="1"> </Log4j2Appender> <Appenders> <Console name="Console" 
	target="SYSTEM_OUT"> <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level]%logger{36} 
	- %msg%n" /> </Console> <RollingFile name="Servlet" fileName="${slPath}/custom-log.log" 
	filePattern="${slPath}/custom-log-%d{yyyy.MM.dd-HH.mm.ss}.log"> <PatternLayout> 
	<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level]%logger{36} - %msg%n </pattern> 
	</PatternLayout> <SizeBasedTriggeringPolicy size="200 KB" /> </RollingFile> 
	</Appenders> <Loggers> <Root level="INFO"> <AppenderRef ref="Servlet" /> 
	<AppenderRef ref="Console" /> <AppenderRef ref="CentralLoggingAppender"/> 
	</Root> <Logger name="com.cskbank" level="error"> <AppenderRef ref="Servlet" 
	/> </Logger> </Loggers> </Configuration> -->
<Configuration
	packages="com.zoho.logs.logclient.log4j.appender">
	<Properties>
		<Property name="path">/home/sharan-pt-7373/Documents/GitHub/CSKBankingApplication/logs/custom-logs
		</Property>
	</Properties>
	<Appenders>
		<Log4j2Appender name="CentralLoggingAppender"
			logtype="javaapplication" loggerWrapperLevel="1">
		</Log4j2Appender>
		<RollingRandomAccessFile
			name="logsfileappender" fileName="${path}/custom-log.log"
			filePattern="${path}/custom-log-%i.log" append="true"
			ignoreExceptions="false">
			<PatternLayout
				pattern="%d{[dd-MM-yyyy] [HH:mm:ss:SSS]} [%p] [%c{1}] [%L]: %m|%n" />
			<SizeBasedTriggeringPolicy size="25MB" />
			<DefaultRolloverStrategy max="50" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="CentralLoggingAppender" />
		</Root>
		<Logger name="com.zoho.logs" level="INFO" additivity="false">
			<AppenderRef ref="logsfileappender" />
		</Logger>
		<Logger name="Log4j2Appender" level="info" additivity="false">
			<AppenderRef ref="logsfileappender" />
		</Logger>
	</Loggers>
</Configuration>