<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="slPath">./servlet-logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level]%logger{36} - %msg%n" />
		</Console>
		<RollingFile name="Servlet"
			fileName="${slPath}/servlet-log.log"
			filePattern="${slPath}/servlet-log-%d{yyyy.MM.dd-HH.mm.ss}.log">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level]%logger{36} - %msg%n
				</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="200 KB" />
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="all">
			<AppenderRef ref="Servlet" />
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>