/*$Id$*/
@font-face {
	font-family: 'NewDevices';
	src:  url('../images/fonts/NewDevices.eot');
	src:  url('../images/fonts/NewDevices.eot') format('embedded-opentype'),
		  url('../images/fonts/NewDevices.woff2') format('woff2'),
		  url('../images/fonts/NewDevices.woff') format('woff'),
		  url('../images/fonts/NewDevices.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
		
[class^="deviceicon-"], [class*=" deviceicon-"] {
	font-family: 'NewDevices' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.deviceicon-samsung_s20 .path1:before {
  content: "\e994";
  color: rgb(147, 147, 147);
}
.deviceicon-samsung_s20 .path2:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(147, 147, 147);
}
.deviceicon-samsung_s20 .path3:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(62, 62, 62);
}
.deviceicon-samsung_s20 .path4:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(#FFFFFF, #DEA089, #955594);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-samsung_s20 .path5:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(147, 147, 147);
}
.deviceicon-samsung_s20 .path6:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-samsung_s20 .path7:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(74, 74, 74);
}
.deviceicon-samsung_s20 .path8:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.deviceicon-samsung_s20 .path9:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-samsung_s23_ultra .path1:before,
.deviceicon-samsung_s22_ultra .path1:before {
  content: "\e99d";
  color: rgb(90, 92, 88);
}
.deviceicon-samsung_s23_ultra .path2:before,
.deviceicon-samsung_s22_ultra .path2:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(88, 90, 86);
}
.deviceicon-samsung_s23_ultra .path3:before,
.deviceicon-samsung_s22_ultra .path3:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(78, 80, 75);
}
.deviceicon-samsung_s23_ultra .path4:before,
.deviceicon-samsung_s22_ultra .path4:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(5, 3, 4);
}
.deviceicon-samsung_s23_ultra .path5:before,
.deviceicon-samsung_s22_ultra .path5:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(#2D2D19, #938147, #232519);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-samsung_s22_ultra .path5:before {
	background: -webkit-linear-gradient(#5C9DAC, #000000, #AB3C4B);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.deviceicon-samsung_s23_ultra .path6:before,
.deviceicon-samsung_s22_ultra .path6:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(13, 13, 13);
}
.deviceicon-samsung_s23_ultra .path7:before,
.deviceicon-samsung_s22_ultra .path7:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(5, 5, 7);
}
.deviceicon-samsung_s23_ultra .path8:before,
.deviceicon-samsung_s22_ultra .path8:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(18, 18, 18);
}
.deviceicon-samsung .path1:before {
  content: "\e90c";
  color: rgb(67, 67, 67);
}
.deviceicon-samsung .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-samsung .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(90deg, #796CF9 49.54%, #96F6F9 100.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-samsung .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(58, 56, 56);
}
.deviceicon-samsung .path5:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(58, 56, 56);
}
.deviceicon-samsung .path6:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(38, 45, 54);
}
.deviceicon-samsung .path7:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(6, 4, 5);
}
.deviceicon-samsung .path8:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(217, 217, 217);
}
.deviceicon-oneplus .path1:before {
  content: "\e928";
  color: rgb(54, 51, 51);
}
.deviceicon-oneplus .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(54, 51, 51);
}
.deviceicon-oneplus .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(54, 51, 51);
}
.deviceicon-oneplus .path4:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(67, 67, 67);
}
.deviceicon-oneplus .path5:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-oneplus .path6:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(270deg, #67E1D7 1.02%, #3078BE 56.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-oneplus .path7:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
.deviceicon-oneplus .path8:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-oneplus .path9:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.deviceicon-pixel .path1:before,
.deviceicon-pixelpro .path1:before {
  content: "\e931";
  color: rgb(78, 80, 75);
}
.deviceicon-pixel .path2:before,
.deviceicon-pixelpro .path2:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-pixel .path3:before,
.deviceicon-pixelpro .path3:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(#000000, #54545C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-pixelpro .path3:before {
  background: -webkit-linear-gradient(#C1C1C1, #89857A, #D6BC9E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-pixel .path4:before,
.deviceicon-pixelpro .path4:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(17, 17, 21);
}
.deviceicon-pixel .path5:before,
.deviceicon-pixelpro .path5:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-pixel .path6:before,
.deviceicon-pixelpro .path6:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(145, 145, 145);
}
.deviceicon-pixel .path7:before,
.deviceicon-pixelpro .path7:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(78, 80, 75);
}
.deviceicon-pixel .path8:before,
.deviceicon-pixelpro .path8:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(78, 80, 75);
}
.deviceicon-vivo .path1:before {
  content: "\e900";
  color: rgb(105, 105, 105);
}
.deviceicon-vivo .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-vivo .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(270deg, #FFE68B -0.09%, #3A8A9B 99.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-vivo .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-vivo .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(105, 105, 105);
}
.deviceicon-vivo .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(105, 105, 105);
}
.deviceicon-redmi .path1:before {
  content: "\e906";
  color: rgb(61, 61, 61);
}
.deviceicon-redmi .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(61, 61, 61);
}
.deviceicon-redmi .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(61, 61, 61);
}
.deviceicon-redmi .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-redmi .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-redmi .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(61, 61, 61);
}
.deviceicon-oppo .path1:before {
  content: "\e912";
  color: rgb(67, 67, 67);
}
.deviceicon-oppo .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(67, 67, 67);
}
.deviceicon-oppo .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(67, 67, 67);
}
.deviceicon-oppo .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(67, 67, 67);
}
.deviceicon-oppo .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(116, 116, 116);
}
.deviceicon-oppo .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-oppo .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(270deg, #FEBCC0 0.06%, #5C2C76 99.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-oppo .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-iphone_13 .path1:before {
  content: "\e91a";
  color: rgb(57, 57, 57);
}
.deviceicon-iphone_13 .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-iphone_13 .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(270deg, #F397A3 0%, #0A04FE 98.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-iphone_13 .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-iphone_14 .path1:before {
  content: "\e91e";
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_14 .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-iphone_14 .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(#D2E8F7, #9CC9E5, #F2F7FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-iphone_14 .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_14 .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_14 .path6:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_14 .path7:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_14 .path8:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-samsungtab .path1:before {
  content: "\e932";
  color: rgb(54, 54, 54);
}
.deviceicon-samsungtab .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-samsungtab .path3:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(338.9deg, #E43E3E -0.08%, #FFF1C4 101.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-samsungtab .path4:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.deviceicon-samsungtab .path5:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.deviceicon-samsungtab .path6:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.deviceicon-ipad .path1:before {
  content: "\e938";
  color: rgb(54, 54, 54);
}
.deviceicon-ipad .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.deviceicon-ipad .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.deviceicon-ipad .path4:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.deviceicon-ipad .path5:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-ipad .path6:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(158.21deg, #31CCDB 7.76%, #1CBE78 100.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-ipad .path7:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(34, 34, 34);
}
.deviceicon-lenovo .path1:before {
  content: "\e93f";
  color: rgb(60, 65, 91);
}
.deviceicon-lenovo .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(46, 46, 46);
}
.deviceicon-lenovo .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-lenovo .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(40, 46, 65);
}
.deviceicon-lenovo .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(101, 108, 147);
}
.deviceicon-lenovo .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(101, 108, 147);
}
.deviceicon-dell .path1:before {
  content: "\e945";
  color: rgb(121, 121, 121);
}
.deviceicon-dell .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.deviceicon-dell .path3:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-dell .path4:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(49, 49, 49);
}
.deviceicon-macbook .path1:before {
  content: "\e949";
  color: rgb(14, 14, 14);
}
.deviceicon-macbook .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-macbook .path3:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(14, 14, 14);
}
.deviceicon-macbook .path4:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(209, 209, 209);
}
.deviceicon-macbook .path5:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(247, 247, 247);
}
.deviceicon-macbook .path6:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(176, 176, 176);
}
.deviceicon-macbook .path7:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(176, 176, 176);
}
.deviceicon-windowsphone_uk .path1:before {
  content: "\e950";
  color: rgb(64, 64, 64);
}
.deviceicon-windowsphone_uk .path2:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-windowsphone_uk .path3:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-windowsphone_uk .path4:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-windowsphone_uk .path5:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-windowsphone_uk .path6:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(180deg, #384288 0%, #0D1232 97.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-windowsphone_uk .path7:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(61, 61, 61);
}
.deviceicon-windowsphone_uk .path8:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(227, 227, 227);
}
.deviceicon-android_uk .path1:before {
  content: "\e958";
  color: rgb(64, 64, 64);
}
.deviceicon-android_uk .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-android_uk .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-android_uk .path4:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-android_uk .path5:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-android_uk .path6:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(180deg, #384288 0%, #0D1232 97.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-android_uk .path7:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(61, 61, 61);
}
.deviceicon-android_uk .path8:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(227, 227, 227);
}
.deviceicon-iphone_uk .path1:before {
  content: "\e960";
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_uk .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-iphone_uk .path3:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_uk .path4:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_uk .path5:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_uk .path6:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(112, 112, 112);
}
.deviceicon-iphone_uk .path7:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(180deg, #384288 0%, #0D1232 97.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-iphone_uk .path8:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-iphone_uk .path9:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(227, 227, 227);
}
.deviceicon-mobile_uk .path1:before {
  content: "\e96a";
  color: rgb(64, 64, 64);
}
.deviceicon-mobile_uk .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-mobile_uk .path3:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(0deg, #0D1232 0%, #384288 96.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-mobile_uk .path4:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-mobile_uk .path5:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-mobile_uk .path6:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(64, 64, 64);
}
.deviceicon-mobile_uk .path7:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-androidtablet_uk .path1:before {
  content: "\e970";
  color: rgb(54, 54, 54);
}
.deviceicon-androidtablet_uk .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.deviceicon-androidtablet_uk .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(0deg, #0D1232 0%, #384288 96.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-androidtablet_uk .path4:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.deviceicon-androidtablet_uk .path5:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(54, 54, 54);
}
.deviceicon-androidtablet_uk .path6:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(227, 227, 227);
}
.deviceicon-osunknown_uk .path1:before {
  content: "\e976";
  color: rgb(121, 121, 121);
}
.deviceicon-osunknown_uk .path2:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.deviceicon-osunknown_uk .path3:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(49, 49, 49);
}
.deviceicon-osunknown_uk .path4:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(180deg, #384288 0%, #0D1232 97.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-linux_uk .path1:before {
  content: "\e97a";
  color: rgb(121, 121, 121);
}
.deviceicon-linux_uk .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.deviceicon-linux_uk .path3:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(49, 49, 49);
}
.deviceicon-linux_uk .path4:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(180deg, #384288 0%, #0D1232 97.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-linux_uk .path5:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.deviceicon-windows_uk .path1:before {
  content: "\e97f";
  color: rgb(121, 121, 121);
}
.deviceicon-windows_uk .path2:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(83, 83, 83);
}
.deviceicon-windows_uk .path3:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(49, 49, 49);
}
.deviceicon-windows_uk .path4:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(180deg, #384288 0%, #0D1232 97.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-windows_uk .path5:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(227, 227, 227);
}
.deviceicon-macbook_uk .path1:before {
  content: "\e984";
  color: rgb(209, 209, 209);
}
.deviceicon-macbook_uk .path2:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(247, 247, 247);
}
.deviceicon-macbook_uk .path3:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(176, 176, 176);
}
.deviceicon-macbook_uk .path4:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(176, 176, 176);
}
.deviceicon-macbook_uk .path5:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(14, 14, 14);
}
.deviceicon-macbook_uk .path6:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  background: -webkit-linear-gradient(180deg, #384288 0%, #0D1232 97.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deviceicon-macbook_uk .path7:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(14, 14, 14);
}
.deviceicon-macbook_uk .path8:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(227, 227, 227);
}

.deviceicon-samsung_s23_ultra,
.deviceicon-samsung_s22_ultra,
.deviceicon-googlepixel,
.deviceicon-googlepixelpro {
	color: #4E504B;
}


.deviceicon-samsung_s20,
.deviceicon-iphone_14 {
	color: #939393;
}
